
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.record {
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  font-size: 3vh;
  border: .2rem solid black;
  border-radius: 100vh;
  height: 10vh;
  width: 10vh;
  background: rgb(120, 255, 122);
  box-shadow: 5px 5px rgb(69, 69, 69), inset 0px 0px rgb(192, 158, 7);
    -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: all 0.1s ease;
}

.recordActive{
  background: rgba(255, 86, 86, 0.834);
  outline: none;
  box-shadow: 0 0 rgb(69, 69, 69), inset 3px 3px rgb(0,0,0,0.25);
}